@using ECommerce.Models.Account
@model ForgotPasswordViewModel


<div class="row">
    <div class="col-md-4">
        <h3>Забыли пароль?</h3>
        <h4>Введите ваш электронный адрес.</h4>
        <hr />
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
