@model ECommerce.Models.Account.LoginViewModel


<div class="row">
    <div class="col-lg-4">
        <h3>Войти на сайт.</h3>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="display:inline-block; width:100px;">
                        LogIn
                    </button>
                    <a asp-action="Register" asp-controller="Account" class="btn btn-success" style="width:100px; margin-left:82px;">
                        Register
                    </a>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
