    <div class="mybar">
        <div class="dropCatalog" >
            <a asp-controller="Home" asp-action="TVShow" class="dropbtnCatalog">
                <i class="fa fa-television fa-lg" style="padding-left:5px; padding-right:5px;"></i>
                Телевизоры, аудио
            </a>
            <div class="catalog-content" >
                <div class="myrow" >
                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" asp-route-id="tv" style="text-decoration:underline;">Телевизоры</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        
                    </div>
                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" style="text-decoration:underline;">Цифровое ТВ</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                       
                    </div>

                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" style="text-decoration:underline;">Домашний кинотеатр</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="mybar2">
        <div class="dropCatalog2">
            <a asp-controller="Home" asp-action="LapShow" class="dropbtnCatalog2" id="ctl2">
                <i class="fa fa-laptop fa-lg" style="padding-left:5px; padding-right:5px;"></i>
                Ноутбуки и компьютеры
            </a>
            <div class="catalog-content2">
                <div class="myrow2">
                    <div class="mycolumn2">
                        <br />
                        <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Ноутбуки</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn2">
                        <br />
                        <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Компьютеры и мониторы</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn2">
                        <br />
                        <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Компьютерные комплектующие</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>