
<div class="mybar">
        <div class="dropCatalog" >
            <a asp-controller="Home" asp-action="TVShow" asp-route-id="tv" class="dropbtnCatalog">
                <i class="fa fa-television fa-lg" style="padding-left:5px; padding-right:5px;"></i>
                Телевизоры, аудио
            </a>
            <div class="catalog-content" >
                <div class="myrow" >
                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" asp-route-id="tv0" style="text-decoration:underline;"><b>Телевизоры</b></a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="1">4K Телевизоры</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="2">Смарт-телевизоры</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="3">Full HD-телевизоры</a>     
                    </div>
                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" asp-route-id="tv1" style="text-decoration:underline;"><b>Цифровое ТВ</b></a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="4">Триколор ТВ</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="6">НТВ-Плюс</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="5">МТС</a>
                       
                    </div>

                    <div class="mycolumn">
                        <br />
                        <a asp-action="TVShow" asp-controller="Home" asp-route-id="tv2" style="text-decoration:underline;"><b>Домашний кинотеатр</b></a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="7">Домашний кинотеатр</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="8">DVD, Blu-Ray</a>
                        <a asp-action="CatDetail" asp-controller="Home" asp-route-id="9">Ресиверы</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
<div class="mybar2">
    <div class="dropCatalog2">
        <a asp-controller="Home" asp-action="LapShow" class="dropbtnCatalog2" id="ctl2">
            <i class="fa fa-laptop fa-lg" style="padding-left:5px; padding-right:5px;"></i>
            Ноутбуки и компьютеры
        </a>
        <div class="catalog-content2">
            <div class="myrow2">
                <div class="mycolumn2">
                    <br />
                    <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Ноутбуки</a>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <div class="mycolumn2">
                    <br />
                    <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Компьютеры и мониторы</a>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <div class="mycolumn2">
                    <br />
                    <a asp-action="LapShow" asp-controller="Home" style="text-decoration:underline;">Компьютерные комплектующие</a>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cartHead">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="myBtn" class="nav-link text-dark" href="#" @*asp-controller="Account" asp-action="Login"*@>
                <i class="fa fa-shopping-cart fa-2x" style="padding-left:10px; padding-right:10px;"
                   title="Войти"></i>
            </a>
        </li>
    </ul>
</div>