    <div class="mybar">
        <div class="dropCatalog">
            <a asp-controller="Home" asp-action="TVShow" class="dropbtnCatalog">
                <i class="fa fa-television fa-lg" style="padding-left:5px; padding-right:5px;"></i>
                Телевизоры, аудио
            </a>
            <div class="catalog-content">
                <div class="myrow">
                    <div class="mycolumn">
                        <h3>Category 1</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn">
                        <h3>Category 2</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn">
                        <h3>Category 3</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="mybar2">
        <div class="dropCatalog2">
            <a asp-controller="Home" asp-action="LapShow" class="dropbtnCatalog2">
                <i class="fa fa-laptop fa-lg" style="padding-left:5px; padding-right:5px;"></i>
                Ноутбуки и компьютеры
            </a>
            <div class="catalog-content2">
                <div class="myrow2">
                    <div class="mycolumn2">
                        <h3>Category 4</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn2">
                        <h3>Category 5</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                    <div class="mycolumn2">
                        <h3>Category 6</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>