
<fieldset>
    <legend>What is Your Favorite Pet?</legend>
    <input type="checkbox" name="favorite_pet" value="Cats">Cats<br>
    <input type="checkbox" name="favorite_pet" value="Dogs">Dogs<br>
    <input type="checkbox" name="favorite_pet" value="Birds">Birds<br>
</fieldset>
<div class="form-group" style="display:flex; ">
    <input class="form-control" />
    <label class="control-label" style="padding-left:10px;padding-right:10px;">Цена</label>
    <input class="form-control" />
</div>
<button type="submit" class="btn btn-secondary" style="height:36px;">Поиск</button>