@model ECommerce.Models.Home.FilterModel

<form asp-controller="Home" asp-action="Filter" method="post">
    <fieldset>
        <legend>Выберите нужный бренд</legend>
        @foreach (var item in Model.Brands)
        {
            <input type="checkbox" name="Brands" value="@item">@item<br>
        }
    </fieldset>
    <input asp-for="CategoryId" type="hidden" class="form-control" />
    <div class="form-group" style="display:flex; ">
        <input asp-for="PriceDown" class="form-control" id="pricedown"/>
        <label class="control-label" style="padding-left:10px;padding-right:10px;">Цена</label>
        <input asp-for="PriceUp" class="form-control" id="priceup" />
    </div>
        <div class="middle">
            <div class="multi-range-slider">
                <input type="range" id="input-left" min="0" max="100" value="25">
                <input type="range" id="input-right" min="0" max="100" value="75">

                <div class="slider">
                    <div class="track"></div>
                    <div class="range"></div>
                    <div class="thumb left"></div>
                    <div class="thumb right"></div>
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-secondary" style="height:36px;">Поиск</button>
</form>
@*<script>
    var inputLeft = document.getElementById("input-left");
    var inputRight = document.getElementById("input-right");

    var thumbLeft = document.querySelector(".slider > .thumb.left");
    var thumbRight = document.querySelector(".slider > .thumb.right");

    var range = document.querySelector(".slider > .range");

    function setLeftValue() {
        var _this = inputLeft,
            min = parseInt(_this.min),
            max = parseInt(_this.max);

        _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);
        var percent = ((_this.value - min) / (max - min)) * 100;

        thumbLeft.style.left = percent + "%";
        range.style.left = percent + "%";

    }
    setLeftValue();

    function setRightValue() {
        var _this = inputRight,
            min = parseInt(_this.min),
            max = parseInt(_this.max);

        _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);
        var percent = ((_this.value - min) / (max - min)) * 100;

        thumbRight.style.right = (100 - percent) + "%";
        range.style.right = (100 - percent) + "%";

    }
    setRightValue();

    inputLeft.addEventListener("input", setLeftValue);
    inputRight.addEventListener("input", setRightValue);
</script>*@
        
