

<ul class="navbar-nav">
    <li class="nav-item">
        <a id="myBtn" class="nav-link text-dark" href="/Blazor/CartBaseView">
            <i class="fa fa-shopping-cart fa-2x" style="padding-left:10px; padding-right:10px;"
               title="Корзина"></i>
        </a>

    </li>
</ul>