@model IEnumerable<Product>

@{ 
    int catId = Model.FirstOrDefault().CategoryId;
}

<div style="display:flex;">
    <div class="col-2">
        @await Component.InvokeAsync("Brand")
    </div>
    <div class="col-8">
        <div style="display:flex;">
            <h3>@ViewData["Message"]</h3>
            <span class="headCount">@Model.Count()</span>
            <div style="display: flex;">
                @*<partial name="_SortPartial"/>*@
                @await Component.InvokeAsync("Sort", new { id = catId})
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div>@item.Name</div>
        }
    </div>
</div>