@model IEnumerable<Product>

<div style="display:flex;">
    <div class="col-2">
        To do viewComponents
    </div>
    <div class="col-8">
        <div style="display:flex;">
            <h3>@ViewData["Message"]</h3>
            <span class="headCount">@Model.Count()</span>
            <div>
                <partial name="_SortPartial"/>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div>@item.Name</div>
        }
    </div>
</div>