@model IEnumerable<Catalog>

<div class="dropClick">
    <button onclick="myFunction()" class="dropbtnClick">Каталог</button>
    <div id="myDropdown" class="dropClick-content">
        <a href="#home">Home</a>
        <hr />
        <a href="#about">About</a>
        <hr />
        <a href="#contact">Contact</a>
    </div>
</div>