@model IEnumerable<Catalog>

<div class="dropClick">
    <button onclick="myFunction()" class="dropbtnClick">Каталог</button>
    <div id="myDropdown" class="dropClick-content">
        @{
            int i = 1;
            string cl = "";
            foreach (var item in Model)
            {
                cl = $"fa {item.AwesomeIcon} fa-lg";
                <a href="#"><i class="fa @item.AwesomeIcon fa-lg" style="padding-left:10px; padding-right:10px;"></i>@item.Name</a>
                if(i<Model.Count())
                {
                    <hr style="margin-top: 0; margin-bottom: 0;">
                }
                i++;
            }
        }
    </div>
</div>