@model ECommerce.Models.Home.SearchModel


    <div class="nav-item">
        <form asp-controller="Search" asp-action="Search" method="post">
            <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Искать..." />
            <button type="submit" class="searchBtn"><i class="fa fa-search fa-lg"></i></button>
        </form>
    </div>