#navHeader {
	padding:28px 0 20px;
}
.catalogLine {
	display:block;

	clear: both;
	background: #f7f7f7;
	background-color: #f4f4f4;
	margin-bottom: 14px;
	position: relative;
	height: 65px;
}
.k_centered {
	min-width: 700px;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
	padding: 0 25px;
	display: inline-flex;
}
.catalogLine__mainLink {
	float: left;
	display: block;
	width: 197px;
	height:56px;
	background: #0053b9;
	text-align: center;
	color: #fff;
	margin: 0;
	position: relative;
	padding-top:10px;
}
/*.dropbtn {
	background-color: #4CAF50;
	color: white;
	font-size: 20px;
	border: none;
	height:56px;
	width:180px;
	margin-left:-4px;
}
.dropDiscount {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size:14px;
}
	.dropdown-content a {
		color: black;
		padding: 10px 16px 10px 16px;
		text-decoration: none;
		display: block;
	}
		.dropdown-content a:hover {
			background-color: #bfc7c6;
		}

.dropDiscount:hover .dropdown-content {
	display: block;
}

.dropDiscount:hover .dropbtn {
	background-color: #7ee08c;
}*/

/*.dropClick {
	position: relative;
	display: inline-block;*/

	/*overflow:hidden;*/
/*}*/
/*.dropbtnClick {
	background-color: #0053b9;
	color: white;
	height:56px;
	width:180px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
	.dropbtnClick:hover, .dropbtnClick:focus {
		background-color: #2980B9;*/


		/*display: block;*/
	/*}*/
/*.dropClick-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 14px;
	width: 250px;*/


	/*overflow: hidden;*/
/*}*/
	/*.dropClick-content a {
		color: black;
		padding: 10px 16px 10px 16px;
		text-decoration: none;
		display: block;
	}
	.dropClick-content:hover, dropdownCatalog-content {*/
		/*display: block;*/
	/*}*/
/*.dropClick a:hover {
	background-color: #ddd;
}*/
/*.show {
	display: block;
}*/

.homeSearch {
	width: 350px;
	height:50px;
	margin-left:70px;
	background: rgba(192,192,192,0.1);
	padding: 8px;
	border: 0px;
	font-weight: bold;
	transition: ease-in 0.2s;
}
	.homeSearch:focus {
		border: none !important;
		outline: none !important;
		transition: ease-in 0.2s;
		color: #03A9F4;
		background-color: rgba(192,192,192,0.7);
		box-shadow: 0 5px 4px -6px #000;
	}
.searchBtn {
	height: 50px;
	width: 50px;
	margin-left: -5px;
	background: rgba(192,192,192,0.4);
	border: 0;
}
	.searchBtn:hover {
		border: none !important;
		outline: none !important;
		transition: ease-in 0.2s;
		color: #03A9F4;
		background-color: rgba(192,192,192,0.7);
		box-shadow: 0 5px 4px -6px #000;
	}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 450px;
	display:block;
}

.closeModal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -10px;
}
	.closeModal:hover {
		/*background: #786b59; /* Цвет фона под ссылкой */
		color: rgb(5,5,5); /* Цвет ссылки */
	}

/*.catalog-content {
	position: absolute;
	background-color: #f1f1f1;
	width: 810px;
	height: 371px;
	left: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-left: 276px;
	margin-top: -14px;
}*/
.mybar {
	overflow: hidden;
	/*background-color: #333;*/
	font-family: Arial;
	width: 140px;
	border-left-color: #e5e5e5;
	border-left-width: 1px;
	border-left-style: solid;
}

	/* Links inside the navbar */
	.mybar a {
		float: left;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

/* The dropdown container */
.dropCatalog {
	float: left;
	overflow: hidden;
	font-size:12px;
}

	/* Dropdown button */
	.dropCatalog .dropbtnCatalog {
		font-size: 12px;
		border: none;
		outline: none;
		color: #272121;
		padding: 14px 16px;
		background-color: inherit;
		font: inherit; /* Important for vertical align on mobile phones */
		margin: 0; /* Important for vertical align on mobile phones */
	}

	/* Add a red background color to navbar links on hover */
	.mybar a:hover, .dropCatalog:hover .dropbtnCatalog {
		/*background-color: red;*/
		background-color: white;
	}
.dropbtnCatalog {
	font-size: 12px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	width:140px;
}

/* Dropdown content (hidden by default) */
.catalog-content {
	display: none;
	position: absolute;
/*	position: inherit;*/
	background-color: white;
	width: 80%;
	margin-left: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-top: 64px;
}

/* Show the dropdown menu on hover */
.dropCatalog:hover .catalog-content {
	display: block;
}

/* Create three equal columns that floats next to each other */
.mycolumn {
	float: left;
	width: 31%;
	/*padding: 10px;*/
	background-color: white;
	height: 250px;

	margin-top:55px;
}

	/* Style links inside the columns */
	.mycolumn a {
		float: none;
		color: black;
		/*padding: 16px;*/
		text-decoration: none;
		display: block;
		text-align: left;
		margin-top: -20px;
		font-size: 12px;
	}

		/* Add a background color on hover */
		.mycolumn a:hover {
			color:red;
		}

/* Clear floats after the columns */
.myrow:after {
	content: "";
	display: table;
	clear: both;
}
/*2*/
.mybar2 {
	overflow: hidden;
	/*background-color: #333;*/
	font-family: Arial;
	width: 140px;
	border-left-color: #e5e5e5;
	border-left-width: 1px;
	border-left-style: solid;
}

	/* Links inside the navbar */
	.mybar2 a {
		float: left;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
.dropCatalog2 {
	float: left;
	overflow: hidden;
	font-size: 12px;
}

	/* Dropdown button */
	.dropCatalog2 .dropbtnCatalog2 {
		font-size: 12px;
		border: none;
		outline: none;
		color: #272121;
		padding: 14px 16px;
		background-color: inherit;
		font: inherit; /* Important for vertical align on mobile phones */
		margin: 0; /* Important for vertical align on mobile phones */
	}

	/* Add a red background color to navbar links on hover */
	.mybar2 a:hover, .dropCatalog2:hover .dropbtnCatalog2 {
		background-color: white;
	}

.dropbtnCatalog2 {
	font-size: 12px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	width: 140px;
}

/* Dropdown content (hidden by default) */
.catalog-content2 {
	display: none;
	position: absolute;
	background-color: white;
	width: 80%;
	margin-left: -50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-top: 64px;
}

/* Show the dropdown menu on hover */
.dropCatalog2:hover .catalog-content2 {
	display: block;
}
.mycolumn2 {
	float: left;
	width: 31%;
	/*padding: 10px;*/
	background-color: white;
	height: 250px;

	margin-top:55px;
}

	/* Style links inside the columns */
	.mycolumn2 a {
		float: none;
		color: black;
		/*padding: 16px;*/
		text-decoration: none;
		display: block;
		text-align: left;
		margin-top: -20px;
		font-size: 12px;
	}

		/* Add a background color on hover */
		.mycolumn2 a:hover {
			color: red;
		}

/* Clear floats after the columns */
.myrow2:after {
	content: "";
	display: table;
	clear: both;
}
.headCount {
	font-size: 24px;
	padding-left: 20px;
	color: #9F9B8E;
}

/*range slider*/
.middle {
	position: relative;
	width: 100%;
	max-width: 500px;
	height: 26px;
	margin-right: auto;
	margin-left: auto;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}

	.slider > .track {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 5px;
		background-color: #c6aee7;
	}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}

	.slider > .thumb {
		position: absolute;
		z-index: 3;
		width: 20px;
		height: 20px;
		background-color: #6200ee;
		border-radius: 50%;
	}

		.slider > .thumb.left {
			left: 25%;
			transform: translate(-12px, -6px);
		}

		.slider > .thumb.right {
			right: 25%;
			transform: translate(+12px, -6px);
		}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}

	input[type=range]::-webkit-slider-thumb {
		pointer-events: all;
		width: 30px;
		height: 30px;
		border-radius: 0;
		border: 0 none;
		background-color: red;
		-webkit-appearance: none;
	}

.filterHead {
	background-color: #7f7f7f;
	font-size: 20px;
	border-radius: 4px;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
}
.checkbox {
	font-size: 16px;
	font-weight: 500;
}

/*cart*/
.blazorContent {
	background: #eee;
	min-height:500px;
}
.cartContent {
	width: 80%;
	margin: 0 auto;
}
.modal_list {
}
/*carthead*/
.cartQuantity {
	margin: 15px 0 0 3px;
	font-style: italic;
	font-size: 17px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

#site-header, #site-footer {
	background: #fff;
}

#site-header {
	margin: 0 0 30px 0;
}

	#site-header h1 {
		font-size: 31px;
		font-weight: 300;
		padding: 40px 0;
		position: relative;
		margin: 0;
	}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

	a:hover {
		color: #53b5aa;
	}

#site-header h1 span {
	color: #53b5aa;
}

	#site-header h1 span.last-span {
		background: #fff;
		padding-right: 150px;
		position: absolute;
		left: 217px;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}

	#site-header h1:hover span.last-span, #site-header h1 span.is-open {
		left: 363px;
	}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 980px;
}

#cart {
	width: 100%;
}

	#cart h1 {
		font-weight: 300;
	}

	#cart a {
		color: #53b5aa;
		text-decoration: none;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-ms-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear;
	}

		#cart a:hover {
			color: #000;
		}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;
	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

	.product img {
		width: 100%;
		height: 100%;
	}

	.product header, .product .content {
		background-color: #fff;
		border: 1px solid #ccc;
		border-style: none none solid none;
		float: left;
	}

	.product header {
		background: #000;
		margin: 0 1% 20px 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 24%;
		height: 195px;
	}

		.product header:hover img {
			opacity: .7;
		}

		.product header:hover h3 {
			bottom: 73px;
		}

		.product header h3 {
			background: #53b5aa;
			color: #fff;
			font-size: 22px;
			font-weight: 300;
			line-height: 49px;
			margin: 0;
			padding: 0 30px;
			position: absolute;
			bottom: -50px;
			right: 0;
			left: 0;
			-webkit-transition: bottom .2s linear;
			-moz-transition: bottom .2s linear;
			-ms-transition: bottom .2s linear;
			-o-transition: bottom .2s linear;
			transition: bottom .2s linear;
		}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
}

.product h1 {
	color: #53b5aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

	.qt-plus:hover, .qt-minus:hover {
		background: #53b5aa;
		color: #fff;
		cursor: pointer;
	}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

	#site-footer h1 {
		background: #fcfcfc;
		border: 1px solid #ccc;
		border-style: none none solid none;
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 7px 0;
		padding: 14px 40px;
		text-align: center;
	}

	#site-footer h2 {
		font-size: 24px;
		font-weight: 300;
		margin: 10px 0 0 0;
	}

	#site-footer h3 {
		font-size: 19px;
		font-weight: 300;
		margin: 15px 0;
	}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}